# COOPERADORA V2 - Frontend
# Desarrollo local:
REACT_APP_API_URL=http://localhost:3001/routes

# Producción/Hostinger, sólo si decidís volver a parametrizar el build normal:
# REACT_APP_API_URL=https://cooperadora.ipet50.edu.ar/api/routes

REACT_APP_BOT_PANEL_URL=https://cooperadora.ipet50.edu.ar/api/bot_wp/funciones/Panel/endpoints
REACT_APP_BOT_PANEL_PUNTOS_URL=https://cooperadora.ipet50.edu.ar/api/bot_wp/funciones/Panel/puntos
